/* Tampilan desktop */
.d-none.d-md-block {

    background-image: url(/src/assets/review/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 93vh;
  }
  
  .carousel-mobile {
    display: none;
  }
  
  .small-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;
  }

  .small-image:hover{
    transform: scale(1.5);

  }
  
  /* Gaya tambahan untuk tampilan desktop */
  @media (min-width: 768px) {
    .d-block.d-md-none {
      display: none;
    }
  
    .carousel-mobile {
      display: none !important;
    }
  
    .small-image {
      margin-top: 70px;
      border-style: solid;
      border-width: 5px;
      border-radius: 20px;
      width: 90%;
      max-width: 100%;
      height: auto;
    }

    .caption {
      text-align: left;
      margin-top: 80px;
      margin-left: 100px;
      color: white;
    }
    
    .caption span {
        background-color: #B7D3D9;
        padding: 15px;
    }
  
    .content {
      display: flex;
      justify-content: space-around;
    }
  
    .content > div {
      flex:1;
    }
  }
  
 /* Gaya tambahan untuk tampilan mobile */
@media (max-width: 767px) {
    .d-block.d-md-none {
      display: flex; /* Ubah display menjadi block pada perangkat mobile */
      flex-direction: column;
      background-image: url(/src/assets/review/background.png); /* Ganti gambar latar belakang untuk tampilan mobile jika diperlukan */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 60vh; /* Sesuaikan tinggi latar belakang sesuai kebutuhan Anda */
    }
  
    .carousel-mobile {
      display: block !important; /* Tampilkan Carousel pada perangkat mobile */
      max-width: 80%; /* Sesuaikan lebar maksimum Carousel sesuai kebutuhan Anda */
      margin: auto; /* Tengahkan Carousel */
      margin-top: 50px;
      border-style: solid;
      border-width: 5px;
      border-radius: 20px;
      height: auto;
      width: auto;
    }

    .slider{
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  
    .carousel-mobile img {
      width: 100%; /* Pastikan gambar di dalam Carousel mengikuti lebar Carousel */
      height: auto;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-mobile img:hover{
      transform: scale(1.3);
    }
  
    .caption {
      margin-top: 50px;
      text-align: left;
      color: white;
    }
  
    .caption span {
      background-color: #B7D3D9;
      padding: 10px;
    }
  }
  