/* styles.css */
#parrent{
    z-index: 0;
}

.content-2 {
    display: flex;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    margin-left: 100px;
    margin-top: 100px;
  }

  
  .title-content {
    display: flex;
    flex-direction: row; /* Mengatur title-content menjadi kolom */
    align-items: flex-end; /* Menyesuaikan agar tulisan "Our Store" menempel dengan ikon di sebelah kiri */
  }
  
  .title-content h1 {
    margin: 0; /* Menghapus margin default dari elemen h1 */
    font-weight: 100;
  }
  
  .title-content svg {
    margin-right: -5px; /* Sesuaikan dengan jarak sesuai kebutuhan */
    width: 100px;
    height: 100%;
  }
  
  .card {
    margin-top: 20px;
    margin-right : 100px;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgb(255 255 255) 25px 0px 20px 0px inset;

  }
  
  .right img {
    max-width: 100%;
    height: 100vh;
    z-index: -1;
  }


.content-3{
    display: flex;
    flex-direction: row;

  }

  .left-3{
    flex: 0.7;
    display: flex;
    justify-content: flex-start;
    box-shadow: rgb(255 255 255) -25px 0px 20px 0px inset;
  }

  .left-3 img{
    max-width: 100%;
    height: 100vh;
    z-index: -1;
    
  }

  .right-3{
    flex: 1;
    justify-content: flex-end;

  }
  .title-2{
    margin-left: 50px;
  }

  .title-2 h1{
    color: #FFA792;
    font-size: 48px;
    font-weight: 600;
  }

  .isi {
    margin-top: 30px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
  }
  
  .ig,
  .wa {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Sesuaikan dengan jarak sesuai kebutuhan */
  }
  
  .ig h4,
  .wa h4 {
    margin: 0 0 0 10px; /* Sesuaikan dengan jarak sesuai kebutuhan */
  }

  @media (max-width: 650px) {
    .content-2{
      display: flex;
      flex-direction: column-reverse;

    }

    .right{
      margin-top: 10px;
      box-shadow: rgb(255 255 255) 40px 5px 20px 0px inset;

    }

    .right img{
      width: auto;
      height: 50vh;
    }

    .left{
      display: flex;
      margin-top: 20px;
      margin-left: 20px;
    }

    .title-content h1{
      font-size: 48px ;
      font-weight: bold;
    }

    .card{
      margin-right: 20px;
    }

    .content-3{
      display: flex;
      flex-direction: column;
    }

    .left-3{
      box-shadow: rgb(255 255 255) -40px 5px 20px 0px inset;
    }

    .left-3 img{
      height: 50vh;
    }

    .right-3{
      margin-top: 20px;
    }

    .title-2{
      margin-left: 0px;
    }

    .title-2 h1{
      font-size: 28px;
    }

    .isi{
      margin-top: 0px;
      margin-left: 10px;
      margin-bottom: 50px;
    }

    .isi h4{
      font-size: 20px;
    }
  }